
.content{
  text-align: center;
  color: #F8EEE5;
  font-family:Verdana;
}
/*413 × 182*/
img{
  padding:3px;
   border:1.5px solid #000F3D;
   background-color:white;
   height: 182px;
   width:413px;
}
hr{width: 10em;
}
h3 {
  font-family:Arial;
  margin: 0 auto;
  width: 350px;
  padding-top:19px;


}
body{
    background: url("https://download.unsplash.com/photo-1425036458755-dc303a604201");
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    text-align: center;
    color:#F8EEE5;
    align-content: center;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
  }

.footer{
  opacity: 1;
  height: 10em;
  background-color: rgba(0,0,0,0.6);
}

.icons{
  display: inline-block;
    letter-spacing: .5px;
    border: .5px solid #8c8c8c;
    padding: none;
    margin:  0 auto;
    align-content:center;
    text-decoration:none;
    font-weight: bold;
}


a:link{
  text-decoration:none;
  color:white;

}
a:visited{
  color:#F8EEE5;
}
